{% extends "layout.html" %}
{% block body %}
<!--Main Content -->
<div class="account-page">
 <link href="{{ url_for('static', filename= 'css/account_form.css') }}" rel="stylesheet">
<h1 class="account-title"> Fertilizer Recommend</h1>
<form method="POST" action='/fertilizer_recommend'>
<div class="donate">	
  <label for="title">Temperature</label><br>
  <input type="text" class="account-page-inputbox" d="_temp" name="t" value='{{temperature}}' placeholder="temp"><br>
  
  <label for="title">Humidity</label><br>
  <input type="text" class="account-page-inputbox"id="_hum" name="h" placeholder="Humidity in %"><br>

  <label for="title">Soil Moisture</label><br>
  <input type="text" class="account-page-inputbox"id="s_m" name="s_m" placeholder="Soil Moisture in %"><br>

  <label for="title">Soil Type</label><br>
  <select class="account-page-inputbox" id="s_type" name="s_type"> <!-- note the name -->
    <option value="0">Black</option>
    <option value="1">Clayey</option>
    <option value="2">Loamy</option>
    <option value="3">Red</option>
    <option value="4">Sandy</option>
</select> 
<br>

<label for="title">Crop Type</label><br>
<select class="account-page-inputbox" id="c_type" name="c_type"> <!-- note the name -->
  <option value="0">Barley</option>
  <option value="1">Cotton</option>
  <option value="2">Ground Nuts</option>
  <option value="3">Maize</option>
  <option value="4">Millets</option>
  <option value="5">Oil seeds</option>
  <option value="6">Paddy</option>
  <option value="7">Pulses</option>
  <option value="8">Surgarcane</option>
  <option value="9">Tobacco</option>
  <option value="10">Wheat</option>


</select><br>
<label for="title">Nitrogen</label><br>
<input type="text" class="account-page-inputbox" name="n" id="nitrogen"  placeholder="Nitrogen Content of soil"><br>
  </div> 
  <div class="donate">	
    
   
    <label for="title">Potassium</label><br>
    <input type="text" class="account-page-inputbox" id="_name" name="k" placeholder="Potassium content of soil"><br>
    <label for="title">Phosphorus</label><br>
    <input type="text" class="account-page-inputbox"id="last_name" name="p" placeholder="Phosphorus content of soil"><br>
   
    
    <!-- <input type="text" class="account-page-inputbox" id="s_type" name="soil type" placeholder="Enter Soil Type"> -->   
    <!-- <input type="text" class="account-page-inputbox" id="c_type" name="crop_type" placeholder="Enter Crop Type"> -->
    <br>
    <input type="submit" value="Recommend Fertilizer"><br> <br>
    <label for="title">Fertilizer Name: </label><br>
    <textarea class="account-page-inputbox"  rows="10" cols="50" style="height:200px;" >
    {{svc_prediction}}
    {{knn_prediction}}
    {{rfc_prediction}}
    {{dtc_prediction}}
    </textarea>
    </div> 
</form> 

</div>

<!--End Home Page-->
{% endblock %}